# .gitignore: Repository files to ignore.  -*- mode: gitignore; -*-
# This file is part of Cal.

# Copyright (c) 2020-2021 B. M. Jones.

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

# Assembler
*.[Ss]
*.asm

# Backups
*.bak
*\#
*~
.\#*
.netrwhist
Session.vim
!*.svg
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]s[a-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[._]*.un~
\#*\#

# Build files
_deps
*.cache/
*.cbp
*.o.json
*.plist
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
Makefile
build.ninja
cmake-build-debug
cmake_install.cmake
compile_commands.json
install_manifest.txt
meson.build

# Debug files
*.idb
*.pdb
*.dSYM/

# Development
out.txt
*.ede
*.sln
*.vcxproj.*
.vs
GPATH
GTAGS
TAGS
cscope.files
lib/
out/
t/
tags
test/

# Directories
bin/
build/
etc/
lib/

# Documentation
*.1
*.html
*.ms
*.org
*.ps

# Dynamic libraries
*.dll
*.dylib
*.so
*.so.*

# Executables
*.app
*.exe
*.hex
*.i*86
*.out
*.x86_64

# Linker files
*.ilk
*.map
*.exp

# Miscellaneous
*.log

# Object files
*.elf
*.ko
*.lo
*.o
*.obj
*.slo

# OS files
.DS_Store
.Trash-*
.directory
Thumbs.db
._*

# Package management files
conan.lock
conanbuildinfo.*
conaninfo.txt
graph_info.json

# Static libraries
*.a
*.la
*.lai
*.lib

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

