# .gitattributes: Git file settings.
# SPDX-FileCopyrightText: © 2021-2022 Bradley M. Jones <brdjns@gmx.us>
# SPDX-License-Identifier: MIT

# Normalise line endings.
* text=auto

# Treat files as binary.
#*.jpg   binary
#*.png   binary
#*.gif   binary
#*.pdf	 binary
